<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentplacementsys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlacementSys">
        <activity android:name=".AddSelectedStudent"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPastPaper" />
        <activity android:name=".TpoLoginArea" />
        <activity android:name=".AddCompanyDetails" />
        <activity android:name=".AllLoginArea" />
        <activity android:name=".TpoLogin" />
        <activity android:name=".AddStudentAccount" />
        <activity android:name=".AddTpoAccount" />
        <activity android:name=".AdminArea" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>